.home {
  padding-top: 4.8rem;
}

.home-texts {
  gap: 2.4rem;
}

.home-texts p {
  text-align: justify;
  max-width: 804px;
}

.home-button {
  margin-top: 4rem;
}

.home-image {
  margin-top: 4.4rem;
}

.products {
  padding-top: 15rem;
}

.products-cards {
  /* margin-top: 4.8rem; */
  gap: 3.2rem;
}

.card-content .card-image {
  margin-bottom: 2.4rem;
}

.card-content h4 {
  margin-bottom: 0.4rem;
}

.card-content p {
  color: var(--txt-clr);
  text-align: justify;
  max-width: 381px;
}

.product-info {
  padding-top: 14.4rem;
}

.product-info-list p {
  color: var(--txt-clr);
  text-align: justify;
  max-width: 515px;
  margin-top: 0.8rem;
}

.product-info-items {
  gap: 4.8rem;
}

.product-info-image {
  position: relative;
  left: 8.1rem;
}

.product-info-buttons {
  margin-top: 2.1rem;
  display: inline-flex;
  gap: 1.6rem;
}

.product-carousel {
  padding-top: 19rem;
}

.carousel-cards.flex {
  gap: 2.4rem;
}

.card-carousel-description {
  margin-top: 3rem;
}

.card-carousel-description h3 {
  margin-bottom: 1rem;
}

.card-carousel-description p {
  color: var(--txt-clr);
}

.reviews{
  padding-top: 18rem;
}

.reviews .flex{
  gap: 3.2rem;
}

.feedback-card {
  padding: 3.2rem;
  border: 1px solid #828282;
  border-radius: 0.5rem;

  height: 19.8rem ;
  width: 40.5rem;
}

.swiper {
  width: auto;
  height: 300px;
}

@media (326px <= width < 768px) {
  .products-cards {
    flex-direction: column;
  }

  .products-info-content {
    display: block;
  }

  .product-info-image {
    margin-top: 2rem;
    position: relative;
    left: -3.1rem;
  }

  .product-info-image img {
    max-width: 115%;
  }

  .carousel-cards.flex {
    display: grid;
    gap: 3rem;
  }
}
