:root{

    /* COLORS */
    --main-clr:hsl(0, 0%, 0%);
    --main-clr-alt:hsla(0, 0%, 0%, 0.75);
    --txt-clr:hsl(0, 0%, 51%);


    /* FONTS */
    --ff-body:"Inter", sans-serif;
    --fw-regular:400;
    --fw-medium:500;
    --fw-bold:700;

    /* FONT SIZES */
    --main-heading:3.6rem;
    --sub-heading:2.4rem;
    --logo:1.4rem;
    --header-links:1.5rem; 
    --button:1.6rem;
}

    /* GLOBAL RESETS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: inherit;
}

html{
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body{
    font-family: var(--ff-body);
    overflow-x: hidden;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    display: block;
}

ul{
    list-style: none;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.grid{
    display: grid;
}

.container{
    padding-inline: 8rem;
    max-width: 1440px;
}


@media(326px <= width < 768px) {
  .container{
    padding-inline: 2.4rem;
  }   
}